.footer {
    color: var(--dark-gray);

    .customerGuide {
        background: var(--light-gray);

        .customerGuideList {
            display: flex;
            flex-flow: row nowrap;             // 왼쪽->오른쪽, 한 줄 배치치
            align-items: center;
            justify-content: center;
            list-style: none;                  //<ul> 또는 <ol> 태그에서 기본 점 스타일을 없애기 위해 사용용
            padding-left: 0;
            margin: 0;

            li {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;

                span {
                    display: inline-block;
                    width: 0.1rem;
                    height: 1.2rem;
                    border-left: 1px solid var(--dark-gray);
                }

                a {
                    display: inline-block;
                    padding: .5rem 1.4rem;
                    font-size: 1.2rem;
                    line-height: 1.2;
                }
            }
        }
    }

    .DHSHOPInformation {
        width: 120rem;
        margin: 3.2rem auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .DHSHOPInformationList {
            list-style: none;
            padding-left: 0;
            margin-top: 0;
            margin-bottom: 0;

            li:not(:first-child) {            // 첫 번째 자식을 제외한 모든 <li> 태그에 스타일을 적용   
                line-height: 1.2;
                margin-top: 1.2rem;
            }
        }

        .customerCenter {

            .customerCenterList {
                display: flex;
                flex-flow: row nowrap;
                list-style: none;
                padding-left: 0;
                margin-top: 0;
                margin-bottom: 0;
            }

            .customerCenterItem:first-child {
                font-weight: 700;
            }

            .customerCenterTelephone {
                font-size: 4.5rem;
                font-weight: 700;
                line-height: 1.2;
                margin-top: 0.8rem;
                margin-bottom: 1.2rem;
            }

            .customerCenterAddress,
            .customerCenterEmail {
                line-height: 1.2;
                margin-top: 0.8rem;
            }
        }
    }

    .copyrightArea {
        background: var(--dark-gray);

        .copyrightAreaInner {
            width: 102rem;
            padding: 1.6rem 0;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-end;
            justify-content: space-between;

            .copyright {
                color: var(--light-gray);
                line-height: 1.6;
                font-size: 1.1rem;
                font-weight: 300;
                display: flex;
                flex-flow: column nowrap;
            }

            .copyrightText {
                font: inherit;
            }

            .sns {
                .snsList {
                    list-style: none;
                    padding-left: 0;
                    margin-top: 0;
                    margin-left: 0;
                    margin-bottom: 0;
                    display: flex;
                    flex-flow: row nowrap;
                    gap: 1rem;
                }
            }
        }
    }
}